.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 55px;
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.22; /* 61px/50 */
}

.loginForm {
  display: flex;
  flex-direction: column;
  min-width: 640px;
  gap: 34px;
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  input[type="password"]::placeholder {
    transform: translateY(5px);
  }

  input[type="checkbox"] {
    align-self: flex-start;
    margin-right: 10px;
  }

  button[type="submit"] {
    padding: 16px 0;
    display: block;
    color: white;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; /* 31px/26 */
    background: #171717;
    border: 1px solid rgba(23, 23, 23, 0.35);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    &:disabled {
      background: #17171752;
    }
  }
}
