@use "../../../../scss/mixins" as *;
@use "../../../../scss/variables" as *;

.wrapper {
  .label {
    display: inline-block;
    font-size: rem(24);
    font-weight: 700;
    color: #747474;
  }

  .textarea {
    width: 100%;
    padding: rem(10) rem(15);
    font-weight: 500;
    font-size: rem(22);
    border: 2px solid #858585;
    border-radius: 5px;
    color: #858585;
    resize: none;

    &:not(:last-child) {
      margin-bottom: rem(8);
    }
    &:focus {
      color: black;
    }
  }
  .error {
    color: red;
  }
  @media (max-width: em(991.98)) {
    .label {
      font-size: rem(20);
    }
    .textarea {
      font-size: rem(18);
    }
  }
  @media (max-width: em(467.98)) {
    .label {
      font-size: rem(16);
    }
    .textarea {
      font-size: rem(14);
      padding: rem(7) rem(10);
    }
  }
}
