@use "../../../scss/mixins" as *;
@use "../../../scss/variables" as *;

.usersWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.loader {
  height: 100%;
}
.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(30);
  row-gap: rem(15);

  @media (max-width: em(1199.98)) {
    column-gap: rem(20);
  }
  @media (max-width: em(991.98)) {
    grid-template-columns: 1fr;
  }
}
