@use "../../../../scss/mixins" as *;
@use "../../../../scss/variables" as *;

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: rem(10);
  padding: rem(8) rem(30);
  background: rgba(175, 175, 175, 0.15);
  border-radius: 20px;
  font-weight: 700;
  font-size: rem(14);
  margin-bottom: rem(50);

  .pages {
    flex: 1 1 auto;
    display: flex;
    gap: rem(9);
    justify-content: center;

    .page {
      display: flex;
      align-items: center;
      padding: rem(6);
      border-radius: 10%;
      max-width: rem(50);
      cursor: pointer;
      &:hover {
        background-color: $activeColor;
      }
    }
    .pageDots {
      padding: rem(6);
      border-radius: 10%;
    }
    .pageActive {
      background-color: $activeColor;
    }
  }

  .btn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(7);
    padding: rem(6);
    border-radius: 15%;
    font-size: rem(16);
    &:hover {
      color: $activeColor;
      fill: $activeColor;
    }
    .arrow {
      width: rem(20);
      &.left {
        transform: scaleX(-1);
      }
    }
  }
  @media (min-width: em(1200)) {
    font-size: rem(20);
    padding: rem(8) rem(38);
    margin-bottom: rem(60);

    .pages {
      gap: 1rem;
      .page {
        max-width: none;
      }
    }
    .btn {
      font-size: rem(18);
    }
  }

  @media (max-width: em(991.98)) {
    padding: rem(8) rem(12);
    margin-bottom: rem(35);
    gap: rem(5);

    .pages {
      gap: rem(5);

      .page {
        padding: rem(3);
      }
      .pageDots {
        padding: rem(3);
      }
    }
    .btn {
      font-size: rem(16);
      .arrow {
        display: none;
      }
    }
  }
  @media (max-width: em(499.98)) {
    padding: rem(8) rem(5);
    font-size: rem(12);

    .btn {
      padding: rem(0);

      .text {
        display: none;
      }
      .arrow {
        display: block;
      }
    }
  }
  @media (max-width: em(379.98)) {
    font-size: rem(10);

    .btn {
      display: none;
    }
  }
}
