@use "../../../scss/mixins" as *;
@use "../../../scss/variables" as *;

.settingsWrapper {
  position: relative;
}

.form {
  padding: 0 rem(60);
  .loader {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }
  //Sections
  .formHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(36);

    .avatarInput {
      display: flex;

      // styled button(input) + error
      .inputFile {
        display: flex;
        flex-direction: column;
        gap: rem(5);
        justify-content: center;
        align-items: center;
        max-width: 200px;
        position: relative;

        input[type="file"] {
          position: absolute;
          width: 0;
          height: 0;
          opacity: 0;
          z-index: -1;
        }

        .error {
          color: red;
          font-size: rem(16);
          text-align: center;
        }
      }
      //input button
      .inputBtn {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        transition: box-shadow 0.3s ease 0s;
        &:hover {
          box-shadow: 0 0 10px 1px black;
        }
        .preview {
          height: 100%;
        }
        img {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 0% 50%;
        }
      }
    }
  }
  .formGeneralInfo {
    margin-bottom: rem(30);
    .fields {
      display: flex;
      flex-direction: column;
      gap: rem(18);
    }
  }
  .formContactsInfo {
    margin-bottom: rem(30);
    .fieldsContacts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(20);
    }
  }
  .formActions {
    display: flex;
    gap: rem(40);

    button {
      padding: rem(11) 0;
      flex: 0 0 180px;
      font-weight: 400;
      font-size: rem(28);
      transition: box-shadow 0.3s ease 0s;
    }
    button[type="button"] {
      border: 2px solid #264653;
      border-radius: 5px;
      color: #264653;
      &:hover {
        box-shadow: inset 0px 0px 5px 3px #264653;
      }
    }
    button[type="submit"] {
      border: 2px solid #264653;
      background-color: #264653;
      color: white;
      border-radius: 5px;
      &:hover {
        box-shadow: inset 0px 0px 5px 3px #fff;
      }
      &:disabled {
        background-color: grey;
        border-color: grey;
      }
    }
  }
  //General
  .title {
    font-weight: 700;
    font-size: rem(45);
  }
  .subTitle {
    font-weight: 700;
    font-size: rem(30);
    margin-bottom: em(30);
    border-bottom: 2px solid grey;
  }

  @media (max-width: em(991.98)) {
    padding: 0 rem(45);

    .formActions {
      display: flex;
      gap: rem(30);

      button {
        padding: rem(11) 0;
        flex: 0 0 150px;
        font-size: rem(22);
      }
    }
    .title {
      font-size: rem(40);
    }
    .subTitle {
      font-size: rem(25);
      margin-bottom: em(16);
    }
  }
  @media (max-width: em(767.98)) {
    padding: 0 rem(30);

    .formHeader {
      margin-bottom: rem(30);

      .avatarInput {
        display: flex;
        // styled button(input) + error
        .inputFile {
          gap: rem(5);
          max-width: 150px;
          .error {
            font-size: rem(14);
          }
        }
        //input button
        .inputBtn {
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
      }
    }
    .formContactsInfo {
      margin-bottom: rem(25);
      .fieldsContacts {
        display: grid;
        grid-template-columns: 1fr;
        gap: rem(15);
      }
    }
    .formActions {
      display: flex;
      gap: rem(30);

      button {
        padding: rem(11) 0;
        flex: 0 0 120px;
        font-size: rem(18);
      }
    }
    .title {
      font-size: rem(35);
    }
    .subTitle {
      font-size: rem(20);
      margin-bottom: em(12);
    }
  }
  @media (max-width: em(467.98)) {
    padding: 0 rem(25);

    .formHeader {
      margin-bottom: rem(25);

      .avatarInput {
        display: flex;
        // styled button(input) + error
        .inputFile {
          gap: rem(5);
          max-width: 100px;
          .error {
            font-size: rem(14);
          }
        }
        //input button
        .inputBtn {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }
    }
    .formGeneralInfo {
      margin-bottom: rem(25);
      .fields {
        gap: rem(10);
      }
    }
    .formContactsInfo {
      margin-bottom: rem(25);
      .fieldsContacts {
        display: grid;
        grid-template-columns: 1fr;
        gap: rem(15);
      }
    }
    .formActions {
      display: flex;
      flex-direction: column-reverse;
      gap: rem(20);

      button {
        max-height: 50px;
        padding: rem(11) 0;
        font-size: rem(18);
      }
    }
    .title {
      font-size: rem(24);
    }
    .subTitle {
      font-size: rem(20);
      margin-bottom: em(8);
    }
  }
}
