@use "../../scss/mixins" as *;
@use "../../scss/variables" as *;

.navbar {
  background-color: $secondaryColorDark;
  color: $mainColorLight;
}

.menu {
  padding: rem(48) rem(20);

  @media (max-width: em(991.98)) {
    padding: rem(30) rem(17);
  }
  @media (max-width: em(767.98)) {
    padding: rem(30) rem(0);
  }

  .item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: rem(13);
    }
    &:nth-child(2) {
      margin-bottom: rem(106);
    }
    @media (max-width: em(991.98)) {
      &:not(:last-child) {
        margin-bottom: rem(10);
      }
      &:nth-child(2) {
        margin-bottom: rem(80);
      }
    }
    @media (max-width: em(767.98)) {
      justify-content: center;
    }
  }

  .item a {
    display: flex;
    align-items: center;
    gap: rem(5);
    font-weight: 700;
    font-size: rem(30);
    fill: $mainColorLight;

    &:hover {
      color: $activeColor;
      fill: $activeColor;
    }

    @media (max-width: em(991.98)) {
      font-size: rem(25);
    }
  }

  .item a.active {
    color: $activeColor;
    fill: $activeColor;
  }

  .icon {
    fill: inherit;
    flex: 0 0 35px;
    @media (max-width: em(991.98)) {
      display: none;
    }
    @media (max-width: em(767.98)) {
      display: block;
    }
  }
  .title {
    @media (max-width: em(767.98)) {
      display: none;
    }
  }
}
