@use "../../../scss/mixins" as *;
@use "../../../scss/variables" as *;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  @media (max-width: em(467.98)) {
    padding-top: rem(50);
    justify-content: flex-start;
  }
}

.title {
  font-weight: 700;
  font-size: rem(50);
  margin-bottom: rem(15);
  @media (max-width: em(467.98)) {
    font-size: rem(30);
  }
}
.text {
  font-weight: 400;
  font-size: rem(20);
  @media (max-width: em(467.98)) {
    font-size: rem(16);
  }
}
